@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    font-family: jost, sans-serif;
    color: #477282;
    background-color: azure;
}

/* header */

header {
    background-color: #477282;
}

h1 {
    text-align: center;
    font-size: 400%;
    letter-spacing: 2px;
    font-weight: 400;
    color: azure;
}

#heading {
    font-family: roboto, sans-serif;
    padding: 60px;
}

nav {
    width: 100%;
    height: 100px;
}

ul {
    text-align: center;
}

ul li {
    list-style: none;
    display: inline-block;
}

ul li a {
    display: block;
    font-size: 140%;
    font-family: roboto, sans-serif;
    padding: 0 20px;
    color: azure;
}

/* footer */
 footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }

 .yoga-studio {
     background-color: #477282;
     font-size: 22px;
     float: left;
     padding: 40px 20px 10px 20px;
     color: azure;
 }

 .social-networks {
     background-color: #477282;
     padding: 2px 20px 20px 2px;
     width: 100%;
     float: right;
 }

/* home page */

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 400px;
    border-radius: 50px;
    height: 400px;
    padding: 20px;
}

#image-one {
    flex-basis: 40%;
}

#image-one p {
    font-size: x-large;
}

.about-us {
    float: left;
    padding: 20px;
    font-size: 25px;
    font-style: bold;
    text-decoration: underline;
}

.summary {
    float: left;
    padding: 7px 20px 20px;
    font-size: 18px;
}

.openinghours {
    text-decoration: bold;
    text-align: center;
    border-radius: 50px;
    margin: 50px;
    box-shadow: 0 0 10px black;
    padding: 15px 80px 20px 40px;
    overflow: hidden;
    display: inline-block;
}

.table tr td {
    font-weight:bold;
}

.table tr td {
    padding:10px;
}

#image-two{
    width: 80px;
    display: inline-block;
}

#image-two img{
    margin: 60px;
    float: right;
    max-width: 800px;
    height: 360px;
    padding: 20px 40px 20px 40px;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    top: 140%;
}

/* Yoga Classes */

.gallery {
    float: left;
    width: 30%;
    padding: 3px;
}

.vinyasa {
    font-size: 16px;
    padding: 17px;
}

.hatha {
    font-size: 16px;
    padding: 17px;
}

.lyenda {
    font-size: 16px;
    padding: 17px;
}

/* Benefits of Yoga */

.benefits-of-yoga {
    text-align: center;
    text-decoration: underline;
    padding: 20px;
}

.yoga-benefits {
    width: 300px;
    border: 10px solid #477282;
    padding: 50px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

li {
    display: list-item;
    list-style-position: inside;
  }

  h3 {
    text-align: left;
    padding: 50px;
  }

  iframe {
    padding: 50px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h3 {
    text-align: center;
  }

  /* Contact Us */

  .contact-us {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 900px;
  }

  .form {
    margin: 2px 10% 0 0;
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
    font-weight: bold;
    color: #477282;
    font-size: 20px;
  }

  .input {
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid;
    border-radius: 2px;
  }

  .join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    display: block;
  }

  h4 {
      margin-left: 150px;
      margin-top: 40px;
      font-size: 20px;
  }

  .submit {
    background-color: #477282;
    color: azure;
    font-size: 20px;
    padding: 10px 24px;
    border-radius: 4px;
  }

  .submit:hover {
    background-color: azure;
    color: #477282;
    border: 2px solid #474747
  }

  .send-message {
    width: 200%;
    height: 150px;
    margin: 10px 0 40px 0;
  }


