@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    font-family: jost, sans-serif;
    color: #477282;
    background-color: azure;
}

/* header */

h1 {
    text-align: center;
    font-size: 400%;
    letter-spacing: 2px;
    font-weight: 400;
    color: #477282;
}

#heading {
    font-family: roboto, sans-serif;
    padding: 60px;
}

nav {
    width: 100%;
    height: 100px;
}

ul {
    text-align: center;
}

ul li {
    list-style: none;
    display: inline-block;
}

ul li a {
    display: block;
    font-size: 140%;
    font-family: roboto, sans-serif;
    padding: 0 20px;
    color: #477282;
}

/* footer */

.yoga-studio {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 120%;
    padding: 60px 10px;
    font-weight: bold;
}

.social-networks {
    position: fixed;
    bottom: 20px;
    right: 40px;
    padding: padding: 20em 20px 10px;
}

/* home page */

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 400px;
    border-radius: 50px;
    height: 400px;
    padding: 5px;
}

#image-one {
    flex-basis: 40%;
}

#image-one p {
    font-size: x-large;
}

#about-us {
    font-size: x-large;
    font-weight: 200;
    float: left;
    text-decoration: underline;
}
